<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>
    <script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  // Make all the links open in new window
  var all_links = document.querySelectorAll('a');
  for (var i = 0; i < all_links.length; i++){
    var a = all_links[i];
    a.rel = 'noopener';
    a.target = '_blank';
  }
});
     </script>
    
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
